.title {
  font-family: 'Nunito';
  color: #663100;
  weight: 900;
  font-size: x-large;
}

.dialog-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.toggle {
  width: 100%;

  .option {
    width: 25%;
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 12pt;
  }


  .easy {
    color: #54b04d;
  }

  .medium {
    color: #d18f2c;
  }

  .hard {
    color: #5e0523;
  }

  .evil {
    color: #c41704;
  }
}

.play-button {
  background-color: #63ba68;
  color: white;
  //border: 1px solid #9e6836;
  margin-right: 10px;
  font-family: 'Nunito';
  font-weight: 900;
}

.cancel-button {
  color: #663100;
  font-family: 'Nunito';
  font-weight: 900;
}
