
<span mat-dialog-title class="title">Options</span>

<div mat-dialog-content>
  <mat-button-toggle-group
    [(ngModel)]="selection"
    class="toggle"
    name="difficulty-select"
    aria-label="Difficulty Select"
  >
    <mat-button-toggle
      class="option easy"
      [value]="EASY"
    >
      easy
    </mat-button-toggle>
    <mat-button-toggle
      class="option medium"
      [value]="MEDIUM"
    >
      medium
    </mat-button-toggle>
    <mat-button-toggle
      class="option hard"
      [value]="HARD"
    >
      hard
    </mat-button-toggle>
    <mat-button-toggle
      class="option evil"
      [value]="EVIL"
    >
      evil
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="dialog-container">
  <button
    mat-raised-button
    class="play-button"
    [mat-dialog-close]="selection"
    [disabled]="selection === null"
  >
    New Game
  </button>
  <button
    mat-stroked-button
    class="cancel-button"
    (click)="onNoClick()"
  >
    Cancel
  </button>
</div>
