<header>
    <div class="container">
        <a href="#" class="logo no-select">fibbo</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/play/" class="no-select">Play</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container" style="height: 94vh; min-height: 750px;">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="footer-body">
    <div class="icons">
      <img style="height: 26px;" src="../assets/icons/iconmonstr-facebook-6.svg">
      <img style="height: 30px;" src="../assets/icons/iconmonstr-twitter-1.svg">
      <a
        href="https://github.com/mick-starego/fibbo"
        target="_blank"
        style="height: 30px"
      >
        <img style="height: 30px" src="../assets/icons/github-logo.svg">
      </a>
    </div>
    <span class="copyright">Copyright © Mick Starego 2020</span>
  </div>

</footer>
