<header>
    <div class="header-container">
        <a routerLink="/home" class="logo no-select">
          <img style="height: 40px; width: 40px" src="./assets/favicon.png"/>
        </a>
        <div>
<!--          <nav>-->
<!--            <ul>-->
<!--              <li>-->
<!--                <a-->
<!--                  class="no-select"-->
<!--                >-->
<!--                  Tutorial-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
          <nav>
            <ul>
              <li>
                <a
                  [routerLink]="gameRoute"
                  class="no-select"
                >
                  Play
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
</header>

<div class="container" style="height: 94vh; min-height: 750px;">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="footer-body">
    <div class="icons">
      <img style="height: 26px;" src="./assets/img/iconmonstr-facebook-6.svg" >
      <img style="height: 30px;" src="./assets/img/iconmonstr-twitter-1.svg">
      <a
        href="https://github.com/mick-starego/fibbo"
        target="_blank"
        style="height: 30px"
      >
        <img style="height: 30px" src="./assets/img/github-logo.svg" >
      </a>
    </div>
    <span class="copyright">Copyright © Mick Starego 2020</span>
  </div>

</footer>
