<div class="page">
    <div class="column" [ngClass]="screenSizeClass">
        <div *ngIf="screenSizeClass === 'desktop'" class="title-container">
            <img style="height: 90px" src="../../assets/fibbo-2.png" />
            <div class="button-container">
              <button
                #optionsButton
                mat-button
                class="settings-button-desktop"
                (click)="openNewGameDialog()"
              >
                Options
              </button>
              <button
                #newGameButton
                mat-raised-button
                class="new-game-button-desktop"
                (click)="onNewGameClicked()"
              >
                New Game
              </button>
            </div>
        </div>
        <div class="sidebar">
            <div class="info">
                <div class="target">
                    <span
                      class="header"
                      [style.color]="targetState === 1 ? '#d4a600' : ''"
                      [style.fontSize]="screenSizeClass === 'desktop' ? '15pt' : '18pt'"
                      [style.paddingBottom]="screenSizeClass === 'desktop' ? '3px' : '7px'"
                    >
                      target
                    </span>
                      <app-display-node
                        class="display-node target-node"
                        [value]="boardTarget"
                        [state]="targetState"
                      >
                      </app-display-node>
                </div>
                <div
                  class="difficulty"
                  [style.fontSize]="screenSizeClass === 'desktop' ? '15pt' : '18pt'"
                >
                    <span class="header">difficulty</span>
                    <span *ngIf="difficulty === EASY" class="easy">easy</span>
                    <span *ngIf="difficulty === MEDIUM" class="medium">medium</span>
                    <span *ngIf="difficulty === HARD" class="hard">hard</span>
                    <span *ngIf="difficulty === EVIL" class="evil">evil</span>
                </div>
                <div
                  class="rows"
                  [style.fontSize]="screenSizeClass === 'desktop' ? '15pt' : '18pt'"
                >
                    <span class="header">rows</span>
                    <span class="body">5</span>
                </div>
            </div>
            <span
              class="sequence-header"
              [style.fontSize]="screenSizeClass === 'desktop' ? '15pt' : '18pt'"
              [style.marginTop]="screenSizeClass === 'desktop' ? '15px' : '20px'"
              [style.marginBottom]="screenSizeClass === 'desktop' ? '10px' : '15px'"
            >
              the sequence
            </span>
            <div class="sequence">
              <app-display-node class="display-node" [value]="0"></app-display-node>
              <app-display-node class="display-node" [value]="1"></app-display-node>
              <app-display-node class="display-node" [value]="1"></app-display-node>
              <app-display-node class="display-node" [value]="2"></app-display-node>
              <app-display-node class="display-node" [value]="3"></app-display-node>
              <app-display-node class="display-node" [value]="5"></app-display-node>
              <app-display-node class="display-node" [value]="8"></app-display-node>
              <app-display-node class="display-node" [value]="13"></app-display-node>
              <app-display-node class="display-node" [value]="21"></app-display-node>
              <app-display-node class="display-node" [value]="34"></app-display-node>
              <app-display-node class="display-node" [value]="55"></app-display-node>
              <app-display-node class="display-node" [value]="89"></app-display-node>
            </div>
        </div>
        <div
          class="container"
          (click)="clickAway()"
          tabindex="0"
          [style.marginTop]="screenSizeClass === 'desktop' ? '-10px' : '10px'"
        >
            <div class="row">
                <app-node class="top node" [value]="values[0]" [selected]='state[0]' (mouseout)="onMouseOut(0)" (mouseover)="onHover(0)" (click)="onClick(0)"></app-node>
              <div class="undo" (click)="undo()"><mat-icon class="icon" aria-hidden="false">undo</mat-icon></div>
            </div>
            <div class="row">
                <app-node class="node" [value]="values[1]" [selected]='state[1]' (mouseout)="onMouseOut(1)" (mouseover)="onHover(1)" (click)="onClick(1)"></app-node>
                <app-node class="node" [value]="values[2]" [selected]='state[2]' (mouseout)="onMouseOut(2)" (mouseover)="onHover(2)" (click)="onClick(2)"></app-node>
            </div>
            <div class="row">
                <app-node class="node" [value]="values[3]" [selected]='state[3]' (mouseout)="onMouseOut(3)" (mouseover)="onHover(3)" (click)="onClick(3)"></app-node>
                <app-node class="node" [value]="values[4]" [selected]='state[4]' (mouseout)="onMouseOut(4)" (mouseover)="onHover(4)" (click)="onClick(4)"></app-node>
                <app-node class="node" [value]="values[5]" [selected]='state[5]' (mouseout)="onMouseOut(5)" (mouseover)="onHover(5)" (click)="onClick(5)"></app-node>
            </div>
            <div class="row">
                <app-node class="node" [value]="values[6]" [selected]='state[6]' (mouseout)="onMouseOut(6)" (mouseover)="onHover(6)" (click)="onClick(6)"></app-node>
                <app-node class="node" [value]="values[7]" [selected]='state[7]' (mouseout)="onMouseOut(7)" (mouseover)="onHover(7)" (click)="onClick(7)"></app-node>
                <app-node class="node" [value]="values[8]" [selected]='state[8]' (mouseout)="onMouseOut(8)" (mouseover)="onHover(8)" (click)="onClick(8)"></app-node>
                <app-node class="node" [value]="values[9]" [selected]='state[9]' (mouseout)="onMouseOut(9)" (mouseover)="onHover(9)" (click)="onClick(9)"></app-node>
            </div>
            <div class="row">
                <app-node class="node" [value]="values[10]" [selected]='state[10]' (mouseout)="onMouseOut(10)" (mouseover)="onHover(10)" (click)="onClick(10)"></app-node>
                <app-node class="node" [value]="values[11]" [selected]='state[11]' (mouseout)="onMouseOut(11)" (mouseover)="onHover(11)" (click)="onClick(11)"></app-node>
                <app-node class="node" [value]="values[12]" [selected]='state[12]' (mouseout)="onMouseOut(12)" (mouseover)="onHover(12)" (click)="onClick(12)"></app-node>
                <app-node class="node" [value]="values[13]" [selected]='state[13]' (mouseout)="onMouseOut(13)" (mouseover)="onHover(13)"(click)="onClick(13)"></app-node>
                <app-node class="node" [value]="values[14]" [selected]='state[14]' (mouseout)="onMouseOut(14)" (mouseover)="onHover(14)" (click)="onClick(14)"></app-node>
            </div>
        </div>
        <div *ngIf="screenSizeClass !== 'desktop'" class="mobile-button-container">
          <button
            mat-raised-button
            class="new-game-button-mobile"
            (click)="onNewGameClicked()"
          >
            New Game
          </button>
          <button
            mat-button
            class="settings-button-mobile"
            (click)="openNewGameDialog()"
          >
            Options
          </button>
        </div>
    </div>
</div>

