.border {
    border: 1px solid lightgrey;
}

.container {
    opacity: 0.8;
    transform: scale(0.9);
    width: fit-content;
    outline: none;
    margin-top: -10px;
    // background-color: #FFF6ED;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.06);
}

.column {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.node {
    margin-left: 7px;
    margin-right: 7px;
}

.row {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.undo {
    cursor: pointer;
    -webkit-user-select: none;
    transform: scale(1.75);
    width: 50px;
    color: #663100;
    opacity: 0.6;
    margin-top: -20px;
}

.top {
    margin-left: 200px;
    margin-right: 150px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sidebar {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 7px;
    height: 160px;
    // border-bottom: 2px solid #66310055;
}

.title {
    font-family: "Nunito";
    font-size: 60pt;
    color: #663100;
    -webkit-user-select: none;
    padding-left: 25px;
}

.title-container {
    width: 100%;
    display: flex;
    margin-top: 40px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.sequence-header {
    width: 500px;
    font-family: "Nunito";
    color: #663100;
    font-size: 15pt;
    margin-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    -webkit-user-select: none;
}

.target {
    margin-top: 8px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;

    .header {
        font-family: "Nunito";
        color: #663100;
        font-size: 15pt;
        -webkit-user-select: none;
        padding-bottom: 3px;
    }
}

.target-node {
  cursor: pointer;
}

.difficulty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;

    .easy {
        width: fit-content;
        font-family: "Nunito";
        color: #54b04d;
        font-size: 15pt;
        font-weight: 700;
        -webkit-user-select: none;
    }

    .medium {
        width: fit-content;
        font-family: "Nunito";
        color: #d18f2c;
        font-size: 15pt;
        font-weight: 700;
        -webkit-user-select: none;
    }

    .hard {
        width: fit-content;
        font-family: "Nunito";
        color: #c41704;
        font-size: 15pt;
        font-weight: 700;
        -webkit-user-select: none;
    }

    .header {
        width: fit-content;
        font-family: "Nunito";
        color: #663100;
        font-size: 15pt;
        -webkit-user-select: none;
    }
}

.rows {
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;

    .body {
        width: fit-content;
        font-family: "Nunito";
        color: #663100;
        font-size: 15pt;
        font-weight: 700;
        -webkit-user-select: none;
    }

    .header {
        width: fit-content;
        font-family: "Nunito";
        color: #663100;
        font-size: 15pt;
        -webkit-user-select: none;
    }
}

.display-node {
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    font-family: 'Nunito';
    font-weight: 700;
    height: 40px;
    margin-right: 25px;
    color: #663100;
}

.button-container {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.green {
    background-color: #54b04d;
    color: white;
}
