.border {
    border: 1px solid lightgrey;
}

.container {
    opacity: 0.8;
    transform: scale(0.94);
    width: fit-content;
    outline: none;
    margin-top: -10px;
    // background-color: #FFF6ED;
}

.page {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    //transform: scale(1.06);
    margin-top: 15px;
}

.column {
    width: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 40px;
}

.node {
    margin-left: 7px;
    margin-right: 7px;
}

.row {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.undo {
    cursor: pointer;
    height: 50px;
    -webkit-user-select: none;
    transform: scale(1.75);
    width: 50px;
    color: #663100;
    opacity: 0.6;
    display: flex;
    align-items: center;
    margin-left: -20px;

    .icon {
      margin-top: -5px;
      margin-left: 15px;
    }
}

.top {
    margin-left: 180px;
    margin-right: 150px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 10px;
    margin-bottom: 7px;
    height: 160px;
    // border-bottom: 2px solid #66310055;
}

.sequence {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
    font-family: "Nunito";
    font-size: 60pt;
    color: #663100;
    -webkit-user-select: none;
    margin-left: 10px;
}

.title-container {
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.sequence-header {
    width: 500px;
    font-family: "Nunito";
    color: #663100;
    font-size: 15pt;
    margin-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    -webkit-user-select: none;
}

.target {
    margin-top: 8px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;

    .header {
        font-family: "Nunito";
        color: #663100;
        font-size: 15pt;
        -webkit-user-select: none;
        padding-bottom: 3px;
    }
}

.target-node {
  cursor: default;
}

.difficulty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;

    .beginner {
        width: fit-content;
        font-family: "Nunito";
        color: #54b04d;
        font-size: 15pt;
        font-weight: 700;
        -webkit-user-select: none;
    }

    .novice {
        width: fit-content;
        font-family: "Nunito";
        color: #2c8dc9;
        font-size: 15pt;
        font-weight: 700;
        -webkit-user-select: none;
    }

    .expert {
        width: fit-content;
        font-family: "Nunito";
        color: #c41704;
        font-size: 15pt;
        font-weight: 700;
        -webkit-user-select: none;
    }

    .advanced {
      width: fit-content;
      font-family: "Nunito";
      color: #d18f2c;
      font-size: 15pt;
      font-weight: 700;
      -webkit-user-select: none;
    }

    .header {
        width: fit-content;
        font-family: "Nunito";
        color: #663100;
        font-size: 15pt;
        -webkit-user-select: none;
    }
}

.rows {
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;

    .body {
        width: fit-content;
        font-family: "Nunito";
        color: #663100;
        font-size: 15pt;
        font-weight: 700;
        -webkit-user-select: none;
    }

    .header {
        width: fit-content;
        font-family: "Nunito";
        color: #663100;
        font-size: 15pt;
        -webkit-user-select: none;
    }
}

.display-node {
}

.new-game-button {
    font-family: 'Nunito';
    font-weight: 700;
    height: 40px;
    background-color: #63ba68;
    color: white;
    width: 105px;
    margin-left: 10px;
    margin-right: 10px;
}

.settings-button {
  font-family: 'Nunito';
  font-weight: 700;
  height: 40px;
  color: #663100;
  width: 105px;
}

.button-container {
  display: flex;
  align-items: center;
}

.green {
    background-color: #54b04d;
    color: white;
}
