.page {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex: 0 0 auto;
    // border: 1px solid lightgrey;
}

.container {
    margin-top: 70px;
    height: 500px;
    // border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Nunito';
    color: #663100;
    font-size: 90pt;
}

.buttons {
    margin-top: 40px;
}

.button {
    margin-left: 30px;
    margin-right: 30px;
}