::ng-deep :root {
    --nextPositionX: 100px;
    --nextPositionY: 200px;
}

span {

    &:hover {
        background: darken(lightgrey, 10%);
    }
}

.border {
    border: 1px solid lightgrey;
}

$rand: random(5);

.animate {
    font-weight: bold;
    background: lightgrey;
    padding: .3em .8em;
    cursor: pointer;
    height: 75px;
    display: flex;
    align-items: center;

    -webkit-animation: pulse 1s infinite alternate;
}

.game-container {
    padding: .3em;
    margin-bottom: 1em;
    display: flex;
    height: 85vh;
}

@-webkit-keyframes pulse {
    0%   { -webkit-transform: translate(0, 0)   ; opacity: 1;    }
    50%  { -webkit-transform: translate(var(--nextPositionX), var(--nextPositionY)); opacity: 0.5; }
    100% { -webkit-transform: translateX(85px)   ; opacity: 1;    }
 }